# Docker Ignore file
# Ignore dependencies
node_modules
npm-debug.log

# Ignore build artifacts
dist
build
.next
.cache

# Ignore local configs and secrets
.env
.dockerignore
docker-compose*
compose.y*ml
Dockerfile*

# Ignore git
.git
.gitignore

# Ignore IDE specific files
.vs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore OS specific files
.DS_Store
Thumbs.db

# Include src and prisma (these are necessary for the build)
!src
!prisma
